:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #2f303a;
  --clients-icon-color: #afb1b8;
}
/* цвет основного текста #757575; */
/* вторичный цвет текста #212121; */
/* белый цвет #FFFFFF; */
/* акцент background: #2196F3; */
/* цвет фона background: #2F303A; */
/* цвет фона background: #F5F5F5; */
/* transparent - безцветная */

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*  class container может оборачивать как всю страницу так и секции и div */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* если ширина контейнера увеличиться, ширина элемента подстроиться авто */
/* .flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
} */

/* Если есть фон - этот вариант
.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
} */

/* .flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3){
  margin-bottom: 0;
} */

.section {
  padding-top: 0;
  padding-bottom: 94px;
}

/* убирает точки в списке - list-style, margin padding - убирают отступы по умолчанию у браузера  */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* убирает подчеркивание ссылки text-decoration: none */
/* text-decoration: none | underline | line-through | overline */

/* Header */

.header {
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}

.header-flex {
  display: flex;
  align-items: center;
}

/* стиль лого WebStudio */
.header-flex__link-logo {
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.header-flex__span-logo {
  color: #212121;
}

/* навигация header */
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* .nav-list {
  display: flex;
  margin-left: 93px;
} */

.navigation-list {
  display: flex;
  margin-left: 93px;
}
/* Вариант 1 */
/* .nav-link .item {
  margin-right: 50px;
}

.nav-link .item:last-child {
  margin-right: 0;
} */

/* Вариант 2 */
/* .nav-list .item:not(:last-child) {
  margin-right: 50px;
} */

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

/* .item-link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.navigation-list__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .item-link:hover,
.item-link:focus {
  color: var(--accent-color);
} */
.navigation-list__link:hover,
.navigation-list__link:focus {
  color: var(--accent-color);
}

/* .navigation-list__link.current {
  color: var(--accent-color);
} */
.navigation-list__link.navigation-list__link--current {
  color: var(--accent-color);
}

/* .item-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
} */

.navigation-list__link.navigation-list__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.address-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

/* .address-nav .links {
  display: flex;
  align-items: center;
} */
.address-nav__item {
  display: flex;
  align-items: center;
}

/* .address-nav .links:not(:last-child) {
  margin-right: 50px;
} */
.address-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* .header .address-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.address-nav__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .header .address-link:hover,
.header .address-link:focus {
  color: var(--accent-color);
} */
.address-nav__link:hover,
.address-nav__link:focus {
  color: var(--accent-color);
}

/* .address-link:hover .nav-icons,
.address-link:focus .nav-icons {
  fill: var(--accent-color);
} */
.address-nav__link:hover .address-nav__icon,
.address-nav__link:focus .address-nav__icon {
  fill: var(--accent-color);
}

/* .nav-icons {
  margin-right: 10px;
  fill: var(--primary-text-color);
} */

.address-nav__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

/* Main 1pg*/

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 280px;
  padding-left: 452px;
  padding-right: 452px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
}

/* .hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
} */

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* .button-hero {
  display: inline-block;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
} */

.hero__button {
  display: inline-block;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

/* .button-hero:active {
  background: #188ce8;
} */

.hero__button:active {
  background: #188ce8;
}

.features {
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
}

/* .features-title {
  display: flex;
} */

/* .features .features-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
} */
.features__list {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* .features-title .item {
  width: 270px;
  margin-right: 30px;
} */
.features__item {
  width: 270px;
  margin-right: 30px;
}

/* .features-title .item:nth-child(4n) {
  margin-right: 0;
} */
.features__item:nth-child(4n) {
  margin-right: 0;
}

/* .features-title .item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
} */
.features__item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__item--icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

/* .icon-clock::before {
  background-image: url(../images/clock.svg);
} */
.features__item--icon-clock::before {
  background-image: url(../images/clock.svg);
}

/* .icon-diagram::before {
  background-image: url(../images/diagram.svg);
} */
.features__item--icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

/* .icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */
.features__item--icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

/* .features-title .features-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
} */
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

/* .icon-antenna::before {
  background-image: url(../images/antenna.svg);
} */

.about {
  margin-left: auto;
  margin-right: auto;
}

/* .about .about-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 50px;
} */
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 50px;
}

/* .about-content {
  display: flex;
} */
.about__list {
  display: flex;
}

/* .about-content .item {
  margin-right: 30px;
} */
.about__item {
  margin-right: 30px;
}

/* .about-content .item:nth-child(3n) {
  margin-right: 0;
} */
.about__item:nth-child(3n) {
  margin-right: 0;
}

.about-thumb {
  position: relative;
}

/* .about-thumb .text-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
} */

.about-thumb__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}

/* .team .team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  padding-top: 94px;
  margin-bottom: 50px;
} */
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  padding-top: 94px;
  margin-bottom: 50px;
}

/* .list-team {
  display: flex;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  text-align: center;
} */
.team-list {
  display: flex;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  text-align: center;
}

/* .list-team .item {
  margin-right: 30px;
  margin-left: 0;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */
.team-list__item {
  margin-right: 30px;
  margin-left: 0;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* .list-team .item:nth-child(4n) {
  margin-right: 0;
} */
.team-list__item:nth-child(4n) {
  margin-right: 0;
}

/* .list-team .team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-top: 30px;
  margin-bottom: 10px;
} */
.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-top: 30px;
  margin-bottom: 10px;
}

/* .team-text {
  margin-bottom: 16px;
} */
.team-list__text {
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* .social-icons .item-icon {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.social-icons__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .social-icons .item:last-child {
  margin-right: 0;
} */
.social-icons__item:last-child {
  margin-right: 0;
}

/* .social-icons .item-icon:hover {
  background-color: var(--accent-color);
} */
.social-icons__item:hover {
  background-color: var(--accent-color);
}

/* .social-icons .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
} */
.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

/* .social-link:hover .social-icon {
  fill: #ffffff;
} */
.social-icons__link:hover .social-icons__icon {
  fill: #ffffff;
}

/* .social-icon {
  width: 20px;
  height: 20px;
  fill: var(--clients-icon-color);
} */
.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--clients-icon-color);
}

/* Наши клиенты */

.clients {
  margin-left: auto;
  margin-right: auto;
}

/* .clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  padding-top: 94px;
  margin-bottom: 50px;
} */
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  padding-top: 94px;
  margin-bottom: 50px;
}

/* .list-clients {
  display: flex;
  text-align: center;
  justify-content: center;
} */
.clients-list {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* .list-clients .item {
  display: block;

  margin-right: 30px;
} */
.clients-list__item {
  display: block;
  margin-right: 30px;
}

/* .list-clients .item:hover {
  fill: var(--accent-color);
} */

/* .list-clients .item:nth-child(6n) {
  margin-right: 0px;
} */
.clients-list__item:nth-child(6n) {
  margin-right: 0px;
}

/* .list-clients .link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;
  padding: 16px 32px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.clients-list__link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;
  padding: 16px 32px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .list-clients .link:hover {
  border: 1px solid var(--accent-color);
} */
.clients-list__link:hover {
  border: 1px solid var(--accent-color);
}

/* .list-clients .link:hover .clients-icon {
  fill: var(--accent-color);
} */
.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
}

/* .clients-icon {
  width: 106px;
  height: 60px;
  text-align: center;
  fill: var(--clients-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.clients-list__icon {
  width: 106px;
  height: 60px;
  text-align: center;
  fill: var(--clients-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
.footer {
  background: var(--primary-bg-color);

  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer .container {
  display: flex;
}

.firstline__link-logo {
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.firstline__span-logo {
  color: #ffffff;
}

/* .logo-footer {
  color: #ffffff;
} */

.address {
  margin-top: 20px;
}

/* .address .item {
  margin-top: 9px;
  margin-bottom: 9px;
} */
.address__item {
  margin-top: 9px;
  margin-bottom: 9px;
}

/* .map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
} */
.address__link-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

/* .map:hover,
.map:focus {
  color: #ffffff;
} */
.address__link-map:hover,
.address__link-map:focus {
  color: #ffffff;
}

/* .mail-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.address__link-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .mail-footer:hover,
.mail-footer:focus {
  color: var(--accent-color);
} */
.address__link-mail:hover,
.address__link-mail:focus {
  color: var(--accent-color);
}

/* .tel-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.address__link-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
} */
.address__link-tel:hover,
.address__link-tel:focus {
  color: var(--accent-color);
}

.secondline {
  display: block;
  margin-left: 93px;
  margin-top: 0;
  padding-top: 12px;
}

/* .secondline .title {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
} */
.secondline__title {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

/* .join-lists {
  display: flex;
} */
.join-list {
  display: flex;
}

/* .join-li:not(:last-child) {
  margin-right: 10px;
} */
.join-list__item:not(:last-child) {
  margin-right: 10px;
}

/* .join-links {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.join-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .join-links:hover,
.join-links:focus {
  background-color: var(--accent-color);
} */
.join-list__link:hover,
.join-list__link:focus {
  background-color: var(--accent-color);
}

/* .join-icons {
  fill: #ffffff;
} */
.join-list__icon {
  fill: #ffffff;
}

.thirdline {
  display: block;
  margin-left: 93px;
  padding-top: 12px;
}

/* .thirdline .title {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
} */
.thirdline__title {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-subscribe {
}

/* .subscribe-label {
  display: flex;
  align-items: center;
} */
.form-subscribe__label {
  display: flex;
  align-items: center;
}

/* .subscribe-input {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  background-color: var(--primary-bg-color);
  color: rgba(255, 255, 255, 0.6);
} */
.form-subscribe__input {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  background-color: var(--primary-bg-color);
  color: rgba(255, 255, 255, 0.6);
}

/* .subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
} */
.form-subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* .subscribe-icon {
  fill: #fff;
  margin-left: 10px;
} */
.form-subscribe__icon {
  fill: #fff;
  margin-left: 10px;
}

/* Portfolio */

/* Main */

.main-portfolio {
  padding-top: 94px;
}

/* .nav-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;
} */
.buttons-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;
}

/* .nav-buttons .item:not(:last-child) {
  margin-right: 8px;
} */
.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

/* .buttons-portfolio {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;

  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
} */
.buttons-list__button {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;

  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/* .buttons-portfolio:hover,
.buttons-portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
.buttons-list__button:hover,
.buttons-list__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
} */

.cards {
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

/* .flex-element {
  width: 370px;
  margin: 15px;

  background: #ffffff;
  border: 1px solid #eeeeee;
} */
.flex-list__item {
  width: 370px;
  margin: 15px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

/* .link-portfolio {
  display: block;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
} */
.flex-list__link {
  display: block;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}

/* .link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */
.flex-list__link:hover,
.flex-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .link-portfolio:hover .product-text,
.link-portfolio:focus .product-text {
  transform: translateY(0%);
  opacity: 1;
} */
.flex-list__link:hover .product-thumb__text,
.flex-list__link:focus .product-thumb__text {
  transform: translateY(0%);
  opacity: 1;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  display: inline-block;
  opacity: 0;
}

/* .product-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: inline-block;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  
  transition-property: transform, opacity;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms;
} */
.product-thumb__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: inline-block;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */

  /* Параметры перехода */
  transition-property: transform, opacity;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms;
}

/* .header-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);

  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 24px;
} */
.flex-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);

  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 24px;
}

/* .text-project {
  margin-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
} */
.flex-list__text {
  margin-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  /* transition-property: transform, opacity;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms; */
}

/* .modal-button-close {
  display: inline-block;
  position: absolute;

  right: 8px;
  top: 8px;
  padding: 5px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  cursor: pointer;
} */
.modal__button {
  display: inline-block;
  position: absolute;

  right: 8px;
  top: 8px;
  padding: 5px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  cursor: pointer;
}

/* .modal-button-close:hover .icon-close {
  fill: var(--accent-color);
} */
.modal__button:hover .modal__icon {
  fill: var(--accent-color);
}

/* .icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
} */
.modal__icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-form {
  width: 100%;
  height: 100%;
  padding: 40px;
}

/* .form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: var(--secondary-text-color);
} */
.modal-form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: var(--secondary-text-color);
}

.form-field {
  position: relative;
}

/* .form-field:focus-within .icon {
  background-color: var(--accent-color);
} */

/* .modal-label {
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
} */
.form-field__label {
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

/* .modal-input {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
} */
.form-field__input {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* .modal-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
} */
.form-field__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

/* .modal-input:focus + .icon {
  fill: var(--accent-color);
} */
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

/* .icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  display: inline-block;
  width: 18px;
  height: 18px;

  color: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
} */
.form-field__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  display: inline-block;
  width: 18px;
  height: 18px;

  color: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* .label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
} */
.policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* .modal-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */
.policy-label__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

/* .modal-checkbox:checked + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
} */
.policy-label__input:checked + .policy-label__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);

  /* background-color: #fff;
  background-image: ;
  background-size: contain;
  background-origin: border-box; */
}

/* .icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border-radius: 2px;
  border: 2px solid #212121;
} */
.policy-label__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border-radius: 2px;
  border: 2px solid #212121;
}

/* .link-checkbox {
  margin-left: 5px;
  color: var(--accent-color);
} */
.policy-label__link {
  margin-left: 5px;
  color: var(--accent-color);
}

/* .modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
} */
.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* .modal-button:active {
  background-color: #188ce8;
} */
.form-button:active {
  background-color: #188ce8;
}
