@import 'utils/variables';
@import 'components/base';
@import 'utils/placeholders';
@import 'components/page-header';
@import 'components/logo-header';
@import 'components/navigation';
@import 'components/address-nav';
@import 'components/hero';
@import 'components/features';
@import 'components/about';
@import 'components/team';
@import 'components/social-icons';
@import 'components/clients';
@import 'components/footer';
@import 'components/logo-footer';
@import 'components/address';
@import 'components/secondline-footer';
@import 'components/social-icons-footer';
@import 'components/thirdline-footer';
@import 'components/form-subscribe';
@import 'components/backdrop-modal';
@import 'components/modal-form';
@import 'components/main-portfolio';
@import 'components/buttons-list';
@import 'components/cards-section';
@import 'components/flex-list';
@import 'components/product-thumb';





















