.about {
    @extend %section;
    margin-left: auto;
    margin-right: auto;

    &__list {
        @extend %list;
        display: flex;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-text-color;

        margin-bottom: 50px;
    }

    &-thumb {
        position: relative;
    }

    &-thumb__text {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        /* text-align: center; */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        background: rgba(47, 48, 58, 0.8);
        color: $white-color;
    }
}

.about__item {
    margin-right: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }
}