.buttons-list {
    @extend %list;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    cursor: pointer;

    &__item:not(:last-child) {
            margin-right: 8px;
        }
}

.buttons-list__button {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;

    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}