.features {
    @extend %section;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;

    &__list {
        @extend %list;
        display: flex;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $primary-text-color;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $secondary-text-color;

        margin-bottom: 10px;
    }
}

.features__item {
    width: 270px;
    margin-right: 30px;

    &:nth-child(4n) {
        margin-right: 0;
    }

    &::before {
        display: block;
        content: "";
        height: 120px;
        background-repeat: no-repeat;
        background-size: 70px 70px;
        background-position: center;
        background-color: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &--icon-antenna::before {
        background-image: url(../images/antenna.svg);
    }

    &--icon-clock::before {
        background-image: url(../images/clock.svg);
    }

    &--icon-diagram::before {
        background-image: url(../images/diagram.svg);
    }

    &--icon-astronaut::before {
        background-image: url(../images/astronaut.svg);
    }
}