// .header-flex__link-logo {
//     font-family: $secondary-font;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     text-decoration: none;
//     color: $accent-color;
// }

.header-flex__link-logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $accent-color;

    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    @media screen and (min-width: 768px) {
        
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }

}

.header-flex__span-logo {
    color: $secondary-text-color;
}

// @media screen and (min-width: 480px) {}

// @media screen and (min-width: 768px) {}

// @media screen and (min-width: 1200px) {}