// product-thumb
.product-thumb {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;

        display: inline-block;
        opacity: 0;
    }
}

.product-thumb__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: inline-block;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: $white-color;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    opacity: 0;
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */

    /* Параметры перехода */
    transition-property: transform, opacity;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
        cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms, 0ms;

    .flex-list__link:hover &,
    .flex-list__link:focus & {
        transform: translateY(0%);
        opacity: 1;
    }
}