.social-icons {
    @extend %list;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.social-icons__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: $white-color;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $accent-color;
    }
}

.social-icons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.social-icons__icon {
    width: 20px;
    height: 20px;
    fill: $clients-icon-color;

    .social-icons__link:hover & {
        fill: $white-color;
    }
}