.join-list {
    @extend %list;
    display: flex;

    &__item:not(:last-child) {
        margin-right: 10px;
    }
}

.join-list__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.join-list__icon {
    fill: $white-color;
}