.team {
    @extend %section;
    background: #f5f4fa;
    margin-left: auto;
    margin-right: auto;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-text-color;

        padding-top: 94px;
        margin-bottom: 50px;
    }
}

.team-list {
    @extend %list;
    display: flex;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    text-align: center;

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: $secondary-text-color;

        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 16px;
    }
}

.team-list__item {
    margin-right: 30px;
    margin-left: 0;

    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:nth-child(4n) {
        margin-right: 0;
    }
}