$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', cursive;

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #2f303a;
$clients-icon-color: #afb1b8;
$white-color: #ffffff;
$button-color: #2196f3;
$button-text-color: #ffffff;